<br />
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-success btn-lg" (click)="refetchData()" [disabled]="refetchDisabled">
      <i class="fa fa-fw fa-refresh" [ngClass]="{'fa-spin': spinRefresh}"></i>
    </button>
    <button type="button" class="btn btn-info btn-lg" (click)="openAddCommandForm($event)" [disabled]="addCommand">
      <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Add command
    </button>
  </div>
</div>
<br />
<div class="row my-2" *ngIf="addCommand">
  <app-add-commands-to-bot [types]="commandTypes" (onSubmit)="onSearchFormSubmit($event)"></app-add-commands-to-bot>
</div>
<div class="row">
  <div *ngIf="bots != null" class="table-responsive col-md-12">
    <table class="table table-striped table-sm table-bordered">
      <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Last Seen</th>
        <th>OS</th>
        <th>Status</th>
        <th>Kill?</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let bot of bots">
        <td>
          <a [routerLink]="['/bot', bot.id]"> {{ bot.id }} </a>
        </td>
        <td>{{ bot.ip }}:{{ bot.port }}</td>
        <td>{{ bot.lastSeen | date:datetimeFormat }}</td>
        <td>{{ bot.os }}</td>
        <td>{{ bot.status }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="killBot(bot.id)" [disabled]="refetchDisabled">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
