<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form novalidate [formGroup]="commandsForm" role="form" (ngSubmit)="submitCommand()">
        <div class="row">
          <div class="form-group col-md-4">
            <select title="commandTypeSelect" class="form-control" name="type" id="type"
                    formControlName="type">
              <option *ngFor="let type of types" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
        <textarea type="text" class="form-control" id="content" placeholder="Content"
                  formControlName="content"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="commandsForm.invalid">
              Submit
            </button>
          </div>
          <div class="col-md-2">
            <button type="reset" class="btn btn-secondary btn-block">
              Reset
            </button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-secondary btn-block" (click)="cancelSubmission()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br />
  <br />
  <div class="row" *ngIf="commandsForm.value.type === 'DOS'">
    <div class="col-md-12">
      <form novalidate [formGroup]="dosForm" role="form" (ngSubmit)="convertDosForm()">
        <div class="form-group row">
          <label class="col-md-3" for="host">Host</label>
          <label class="col-md-3" for="port">Port</label>
          <label class="col-md-3" for="duration">Duration</label>
          <label class="col-md-3" for="threads">Threads</label>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <input type="text" class="form-control" id="host" placeholder="Host" formControlName="host" />
          </div>
          <div class="col-md-3">
            <input type="number" class="form-control" id="port" placeholder="80" formControlName="port" />
          </div>
          <div class="col-md-3">
            <input type="number" class="form-control" id="duration" placeholder="60" formControlName="duration" />
          </div>
          <div class="col-md-3">
            <input type="number" class="form-control" id="threads" placeholder="135" formControlName="threads" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="dosForm.invalid">
              Update
            </button>
          </div>
          <div class="col-md-2">
            <button type="reset" class="btn btn-secondary btn-block">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
