<table class="table table-striped table-sm table-bordered">
  <thead class="thead-inverse">
  <tr>
    <th>TYPE</th>
    <th>CONTENT</th>
  </tr>
  </thead>

  <tbody *ngIf="commands != null">
  <tr *ngFor="let command of commands">
    <td>{{ command?.type }}</td>
    <td>{{ command?.content }}</td>
  </tr>
  </tbody>
</table>
