<div class="navbar navbar-fixed-top navbar-inverse bg-inverse main-navbar">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" title="HOME">
      HOME
    </a>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
